server:
  port: 8080
spring:
  application:
    name: api-gateway
  sleuth:
    sampler:
      probability: 1
  zipkin:
    base-url: http://zipkin:9411
  cloud:
    gateway:
      routes:
        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/api/orders/**
        - id: catalog-service
          uri: lb://CATALOG-SERVICE
          predicates:
            - Path=/api/products/**
    discovery:
      locator:
        enabled: true
        lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/

# tracing (merged into spring section below)

